# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyblablabla.eyblablabla.eyblablabla"
NEXT_PUBLIC_SUPABASE_URL="https://[databaseid].supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyblablabla.eyblablabla.eyblablabla"
SUPABASE_SERVICE_PSQL_URL="postgres://postgres:[PWD]@db.[databaseid].supabase.co:6543/postgres?schema=public&pgbouncer=true&sslmode=require"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_JWT_SECRET="CHANGEME"

# Etherscan
ETHERSCAN_API_KEY="CHANGEME"
