@import "../../styles/theme.scss";

@media (max-width: 576px) {
  .box {
    display: flex;
    flex-direction: column;
    background: $semiWhite;
    div {
      .title {
        margin-top: #{scaleX(60)};
        margin-left: #{scaleX(24)};
        width: #{scaleX(198)};
        @include fonts(
          $fSize: 32,
          $fFamily: $clash,
          $fWeight: 500,
          $color: $darkGreen,
          $lH: 38
        );
      }
      .text {
        margin: #{scaleX(32)} 0 0 #{scaleX(27)};
        width: #{scaleX(333)};
        @include fonts(
          $fSize: 22,
          $fFamily: $sat,
          $fWeight: 400,
          $color: $darkGreen,
          $lH: 26
        );
      }
      .input {
        @include size(
          $width: 342,
          $height: 40,
          $bg: $white,
          $borderRadius: 5,
          $border: #{scaleXL(1)} solid $darkGreen,
          $margin: #{scaleX(32)} 0 0 #{scaleX(24)},
          $padding: #{scaleX(10)} #{scaleX(19)}
        );
        @include fonts(
          $fSize: 16,
          $fWeight: 400,
          $fFamily: $inter,
          $color: rgba(29, 85, 92, 0.5)
        );
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          box-shadow: #{scaleX(0)} #{scaleX(0)} #{scaleX(5)} #{scaleX(2)}
            rgb(29, 85, 92, 0.4);
        }
      }
      .btn {
        @include size(
          $height: 40,
          $bg: $darkGreen,
          $borderRadius: 5,
          $margin: #{scaleX(22)} 0 #{scaleX(62)} #{scaleX(24)},
          $padding: #{scaleX(5)} #{scaleX(35)}
        );
        @include fonts(
          $fSize: 20,
          $fWeight: 500,
          $fFamily: $clash,
          $color: $white
        );
      }
    }
  }
}
@media (min-width: 576.1px) {
  .box {
    display: flex;
    background: $semiWhite;
    div {
      .title {
        margin-top: #{scaleXL(100)};
        margin-left: #{scaleXL(152)};
        @include fontsL(
          $fSize: 46,
          $fFamily: $clash,
          $fWeight: 500,
          $color: $darkGreen
        );
      }
      .text {
        margin: #{scaleXL(35)} 0 #{scaleXL(90)} #{scaleXL(152)};
        width: #{scaleXL(439)};
        @include fontsL(
          $fSize: 26,
          $fFamily: $inter,
          $fWeight: 400,
          $color: $darkGreen,
          $lH: 30
        );
      }
      .input {
        @include sizeL(
          $width: 370,
          $height: 40,
          $bg: $white,
          $borderRadius: 5,
          $border: #{scaleXL(1)} solid $darkGreen,
          $margin: #{scaleXL(195)} #{scaleXL(1)} 0 #{scaleXL(139)},
          $padding: #{scaleXL(9)} #{scaleXL(19)}
        );
        @include fontsL(
          $fSize: 16,
          $fWeight: 400,
          $fFamily: $sat,
          $color: rgba(29, 85, 92, 0.5)
        );
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          box-shadow: #{scaleXL(0)} #{scaleXL(0)} #{scaleXL(5)} #{scaleXL(2)}
            rgb(29, 85, 92, 0.4);
        }
      }
      .btn {
        @include sizeL(
          $height: 40,
          $bg: $darkGreen,
          $borderRadius: 5,
          $margin: #{scaleXL(195)} 0 0 #{scaleXL(20)},
          $padding: #{scaleXL(5)} #{scaleXL(35)}
        );
        @include fontsL(
          $fSize: 20,
          $fWeight: 500,
          $fFamily: $clash,
          $color: $white
        );
      }
    }
  }
}
