@import "../../styles/theme.scss";
@media (max-width: 640px) {
  header {
    .title {
      @include size($mTop: 116, $width: 324);
      @include fonts(
        $fSize: 44,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 44
      );
      text-align: center;
    }
    .text {
      @include size($mTop: 20, $width: 300);
      @include fonts(
        $fSize: 22,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 26
      );
      text-align: center;
    }
    .button {
      cursor: pointer;
      @include size(
        $mTop: 40,
        $width: 140,
        $bg: $lightGreen,
        $borderRadius: 5,
        $padding: #{scaleX(5)} #{scaleX(35)}
      );
      @include fonts(
        $fSize: 20,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 26
      );
      text-align: center;
    }
    .img {
      object-fit: cover;
      @include size($width: 744, $height: 336, $mTop: 27);
      margin-bottom: #{scaleX(33)};
    }
  }

  .intro {
    .title {
      margin-left: #{scaleX(24)};
      @include fonts(
        $fSize: 32,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 38
      );
    }
    div {
      margin-left: #{scaleX(24)};
      @include size($mTop: 21, $width: 340.17);
      @include fonts(
        $fSize: 18,
        $fFamily: $sat,
        $fWeight: 400,
        $color: $darkGreen,
        $lH: 22
      );
    }
    .img {
      object-fit: cover;
      @include size($pos: relative, $width: 390, $height: 255, $mTop: 20);
      margin-bottom: #{scaleX(33)};
    }
  }

  .objectives {
    .title {
      margin: #{scaleX(80)} 0 0 #{scaleX(24)};
      @include fonts(
        $fSize: 32,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 38
      );
    }
  }

  .objectivesComponent {
    .title {
      margin-left: #{scaleX(60)};
      margin-top: #{scaleX(20)};
      width: #{scaleX(270)};
      padding-bottom: #{scaleX(20)};
      border-bottom: #{scaleX(0.5)} solid $darkGreen;
      @include fonts(
        $fSize: 30,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
    div {
      margin-left: #{scaleX(60)};

      @include size($mTop: 15, $width: 270);
      @include fonts(
        $fSize: 16,
        $fFamily: $inter,
        $fWeight: 400,
        $color: $darkGreen,
        $lH: 20
      );
      text-align: center;
    }
    .img:nth-child(1) {
      width: calc(58 * 100vw / 390);
      margin-left: auto;
      margin-right: auto;
      @include size($height: 100, $mTop: 41);
    }
  }
  .getInvolved {
    .title {
      @include size($margin: #{scaleX(80)} 0 0 #{scaleX(24)});
      @include fonts(
        $fSize: 32,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
    }
    .flex {
      div {
        div {
          @include size($margin: #{scaleX(21)} 0 0 #{scaleX(24)}, $width: 253);
          @include fonts(
            $fSize: 22,
            $fFamily: $sat,
            $fWeight: 500,
            $color: $darkGreen,
            $lH: 26
          );
        }
        .img {
          margin-bottom: #{scaleX(40)};
          width: auto !important;
          @include size($height: 390, $width: 390, $mTop: 48);
        }
      }
      .involveds {
        .involved {
          margin-left: #{scaleX(24)};
          .title {
            @include size($margin: 0 0 #{scaleX(21)} 0);
            @include fonts(
              $fSize: 26,
              $fFamily: $clash,
              $fWeight: 500,
              $color: $darkGreen
            );
          }
          .text {
            @include size($margin: 0 0 #{scaleX(30)} 0, $width: 303);
            @include fonts(
              $fSize: 18,
              $fFamily: $sat,
              $fWeight: 400,
              $color: $darkGreen,
              $lH: 22
            );
          }
          .btn {
            cursor: pointer;
            width: fit-content;
            cursor: pointer;
            @include size(
              $bg: $lightGreen,
              $borderRadius: 5,
              $padding: #{scaleX(5)} #{scaleX(35)},
              $margin: #{scaleX(35)} 0 #{scaleX(64)} 0
            );
            @include fonts(
              $fSize: 20,
              $fFamily: $clash,
              $fWeight: 500,
              $color: $darkGreen,
              $lH: 26
            );
            text-align: center;
          }
        }
      }
    }
  }

  .community {
    padding-top: #{scaleX(60)};
    background: $darkGreen;
    .title {
      @include size($margin: 0 0 0 #{scaleX(24)});
      @include fonts(
        $fSize: 32,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $lightGreen
      );
    }
    .text {
      @include size($margin: #{scaleX(16)} 0 0 #{scaleX(24)});
      @include fonts($fSize: 22, $fFamily: $sat, $fWeight: 500, $color: $white);
    }
    .communityList {
      .communityText {
        margin-left: #{scaleX(24)};
        .title {
          @include size($margin: #{scaleX(50)} 0 0 0);
          @include fonts(
            $fSize: 26,
            $fFamily: $clash,
            $fWeight: 500,
            $color: $lightGreen
          );
        }
        .text {
          @include size($margin: #{scaleX(15)} 0 0 0, $width: 342);
          @include fonts(
            $fSize: 18,
            $fFamily: $sat,
            $fWeight: 400,
            $color: $white,
            $lH: 22
          );
        }
      }
      .img {
        @include size($height: 492, $width: 463, $mTop: 0);
      }
    }
  }

  .partners {
    margin-left: #{scaleX(24)};
    .title {
      @include size($mTop: 80);
      @include fonts(
        $fSize: 32,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
    }
    .text {
      @include size($margin: #{scaleX(21)} 0 0 0, $width: 338);
      @include fonts(
        $fSize: 22,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 26
      );
    }
    .cardList {
      display: flex;
      flex-wrap: wrap;
      gap: #{scaleX(35)};
      margin-top: #{scaleX(40)};
      .card {
        object-fit: contain;
        @include size($width: 136, $height: 36);
      }
    }
  }

  .cta {
    margin-top: #{scaleX(84.47)};
    @include size(
      $padding: #{scaleX(60)} 0 #{scaleX(64)} 0,
      $bg:
        linear-gradient(
          95.36deg,
          #36dfae -2.08%,
          #28b6a5 29.9%,
          #1d555c 101.99%
        )
    );
    .title {
      @include fonts(
        $fSize: 36,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $white
      );
      text-align: center;
    }
    .text {
      margin-left: #{scaleX(24)};
      @include size($mTop: 20, $width: 342);
      @include fonts(
        $fSize: 22,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $white,
        $lH: 26
      );
      text-align: center;
    }
    .button {
      cursor: pointer;
      width: fit-content;
      margin-left: #{scaleX(108)};
      @include size(
        $mTop: 36,
        $bg: $lightGreen,
        $borderRadius: 5,
        $padding: #{scaleX(5)} #{scaleX(35)}
      );
      @include fonts(
        $fSize: 20,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
  }
}
@media (min-width: 640.1px) {
  header {
    .title {
      @include sizeL($mTop: 119);
      @include fontsL(
        $fSize: 80,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
    .text {
      @include sizeL($mTop: 20);
      @include fontsL(
        $fSize: 26,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
    .button {
      cursor: pointer;
      @include sizeL(
        $mTop: 40,
        $width: 140,
        $bg: $lightGreen,
        $borderRadius: 5,
        $padding: #{scaleXL(5)} #{scaleXL(35)}
      );
      @include fontsL(
        $fSize: 20,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen,
        $lH: 26
      );
      text-align: center;
    }
    .img {
      object-fit: cover;
      @include sizeL($width: 1597, $height: 722, $mTop: 27);
      margin-bottom: #{scaleXL(33)};
    }
  }

  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: #{scaleXL(1293)};
    section {
      .title {
        margin-top: #{scaleXL(94)};
        @include fontsL(
          $fSize: 46,
          $fFamily: $clash,
          $fWeight: 500,
          $color: $darkGreen,
          $lH: 38
        );
      }
      div {
        margin-left: #{scaleXL(35)};
        @include sizeL($mTop: 21, $width: 514);
        @include fontsL(
          $fSize: 18,
          $fFamily: $sat,
          $fWeight: 400,
          $color: $darkGreen,
          $lH: 22
        );
      }
    }
    .img {
      object-fit: contain;
      @include sizeL($width: 670, $height: 341, $mTop: 115);
    }
  }

  .objectives {
    .title {
      margin: #{scaleXL(178)} 0 0 0;
      @include fontsL(
        $fSize: 46,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
    section {
      display: flex;
      justify-content: space-between;
      width: #{scaleXL(1120)};
      margin-left: #{scaleXL(150)};
    }
  }

  .objectivesComponent {
    margin-top: #{scaleXL(65)};
    .title {
      margin-top: #{scaleXL(22)};
      width: #{scaleXL(250)};
      padding-bottom: #{scaleXL(20)};
      border-bottom: #{scaleXL(0.5)} solid $darkGreen;
      @include fontsL(
        $fSize: 30,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
    }
    div {
      @include sizeL($mTop: 15, $width: 250);
      @include fontsL(
        $fSize: 18,
        $fFamily: $inter,
        $fWeight: 400,
        $color: $darkGreen,
        $lH: 22
      );
    }
    .img {
      width: auto !important;
      @include sizeL($height: 100, $mTop: 41);
    }
  }

  .getInvolved {
    .title {
      @include sizeL($margin: #{scaleXL(140)} 0 0 #{scaleXL(150)});
      @include fontsL(
        $fSize: 46,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
    }
    .flex {
      display: flex;
      justify-content: space-between;
      margin-top: #{scaleXL(25)};
      margin-left: #{scaleXL(50)};
      width: #{scaleXL(1098)};
      .text {
        @include sizeL($margin: #{scaleXL(0)} 0 0 #{scaleXL(100)}, $width: 466);
        @include fontsL(
          $fSize: 26,
          $fFamily: $sat,
          $fWeight: 500,
          $color: $darkGreen,
          $lH: 30
        );
      }
      .img {
        @include sizeL($height: 640, $width: 640, $mTop: 80);
      }
      .involveds {
        .involved {
          .title {
            @include sizeL($margin: 0 0 #{scaleXL(17)} 0);
            @include fontsL(
              $fSize: 30,
              $fFamily: $clash,
              $fWeight: 500,
              $color: $darkGreen
            );
          }
          .text {
            @include sizeL($margin: 0 0 #{scaleXL(30)} 0, $width: 320);
            @include fontsL(
              $fSize: 18,
              $fFamily: $sat,
              $fWeight: 400,
              $color: $darkGreen,
              $lH: 22
            );
          }
          .btn {
            cursor: pointer;
            width: fit-content;
            cursor: pointer;
            @include sizeL(
              $bg: $lightGreen,
              $borderRadius: 5,
              $padding: #{scaleXL(5)} #{scaleXL(35)},
              $margin: 0 0 #{scaleXL(64)} 0
            );
            @include fontsL(
              $fSize: 20,
              $fFamily: $clash,
              $fWeight: 500,
              $color: $darkGreen,
              $lH: 26
            );
            text-align: center;
          }
        }
      }
    }
  }

  .community {
    position: relative;
    margin-top: #{scaleXL(144)};
    padding: #{scaleXL(100)} 0 #{scaleXL(199)} #{scaleXL(154.21)};
    background: $darkGreen;
    .title {
      @include fontsL(
        $fSize: 46,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $lightGreen
      );
    }
    .text {
      @include sizeL($margin: #{scaleXL(15)} 0 0 0);
      @include fontsL(
        $fSize: 26,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $white
      );
    }
    .communityList {
      display: flex;
      flex-wrap: wrap;
      margin: #{scaleXL(60)} 0 0 #{scaleXL(285.79)};
      .communityText {
        .title {
          @include fontsL(
            $fSize: 26,
            $fFamily: $clash,
            $fWeight: 500,
            $color: $lightGreen
          );
        }
        .text {
          @include sizeL($margin: #{scaleXL(15)} 0 0 0);
          @include fontsL(
            $fSize: 18,
            $fFamily: $sat,
            $fWeight: 400,
            $color: $white,
            $lH: 22
          );
        }
      }
      .communityText:nth-child(even) {
        margin-left: #{scaleXL(116)};
      }
      .communityText:nth-child(1) {
        width: #{scaleXL(365.07)};
      }
      .communityText:nth-child(2) {
        width: #{scaleXL(367)};
      }
      .communityText:nth-child(3) {
        width: #{scaleXL(367)};
        margin-top: #{scaleXL(40)};
      }
      .communityText:nth-child(4) {
        margin-top: #{scaleXL(40)};
        width: #{scaleXL(344.94)};
      }
    }
    .img {
      @include sizeL(
        $pos: absolute,
        $height: 596,
        $width: 633,
        $bottom: 0,
        $left: 0
      );
    }
  }

  .partners {
    margin: #{scaleXL(100)} #{scaleXL(148)} #{scaleXL(100)} #{scaleXL(153)};
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: #{scaleXL(407)};
      .title {
        @include fontsL(
          $fSize: 46,
          $fFamily: $clash,
          $fWeight: 500,
          $color: $darkGreen
        );
      }
      .text {
        @include sizeL($margin: #{scaleXL(25)} 0 0 0);
        @include fontsL(
          $fSize: 26,
          $fFamily: $sat,
          $fWeight: 500,
          $color: $darkGreen,
          $lH: 30
        );
      }
    }
    .cardList {
      display: flex;
      flex-wrap: wrap;
      gap: #{scaleXL(52)};
      margin-top: #{scaleXL(93)};
      width: #{scaleXL(659)};
      .card {
        object-fit: contain;
        @include sizeL($width: 163, $height: 38);
      }
    }
  }

  .cta {
    @include sizeL(
      $padding: #{scaleXL(100)} 0 #{scaleXL(102)} 0,
      $bg:
        linear-gradient(
          95.36deg,
          #36dfae -2.08%,
          #28b6a5 29.9%,
          #1d555c 101.99%
        )
    );
    .title {
      text-align: center;
      @include fontsL(
        $fSize: 46,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $white
      );
    }
    .text {
      @include sizeL($mTop: 25, $width: 741);
      margin-left: #{scaleXL(343)};
      @include fontsL(
        $fSize: 26,
        $fFamily: $sat,
        $fWeight: 500,
        $color: $white,
        $lH: 30
      );
      text-align: center;
    }
    .button {
      cursor: pointer;
      width: fit-content;
      margin: #{scaleXL(62)} 0 0 #{scaleXL(628)};
      @include sizeL(
        $bg: $lightGreen,
        $borderRadius: 5,
        $padding: #{scaleXL(5)} #{scaleXL(35)}
      );
      @include fontsL(
        $fSize: 20,
        $fFamily: $clash,
        $fWeight: 500,
        $color: $darkGreen
      );
      text-align: center;
    }
  }
}
