@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Clash Display';
  font-size: 2.5rem;
  font-weight: 700;
}

.h3 {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;

  font-size: 1.875rem;
  line-height: 2.25rem;
}

.big-text-mobile {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.small-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* font family 
*/
.clash {
  font-family: 'Clash Display';
}

.inter {
  font-family: 'Inter';
}

.satoshi {
  font-family: 'Satoshi';
}

/* only spans that aren't in a button */
span {
  font-family: 'Satoshi';
  font-size: 1.27rem;
  color: #fff;

  /* weight */
  font-weight: 300;
}

.ant-select span {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

/* for spans that are children of buttons */
button span {
  font-family: 'Clash Display';

  /* default */
  font-size: 1em;
  font-weight: 500;

  color: inherit;
}

.antd-stop-propagation span {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

/* GRAPH'S TOOLTIP DESIGN */
.apexcharts-tooltip {
  color: green !important;
  background-color: #06121e !important;
  font-size: 1488em !important;
}

/* SCROLLBAR CUSTOMIZATION */
.custom-scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 10px rgba(29, 85, 92, 0.6); */
  background-color: #f5f5f5;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1d555c;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Button animation */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 7 */
.btn-7 {
  background: linear-gradient(0deg, #36dfae 0%, #36dfae 100%);
  /* line-height: 42px; */
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #1d555c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: #1d555c;
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #1d555c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 187 52% 24%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 163 73% 54%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
