@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.h3 {
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 500;

  font-size: 1.875rem;
  line-height: 2.25rem;
}

.big-text-mobile {
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.small-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* only spans that aren't in a button */
span {
  font-family: "Satoshi", sans-serif;
  font-size: 1.27rem;
  color: #fff;

  /* weight */
  font-weight: 300;
}

/* for spans that are children of buttons */
button span {
  font-family: "Clash Display", sans-serif;

  /* default */
  font-size: 1em;
  font-weight: 500;

  color: inherit;
}

.antd-stop-propagation span {
  color: inherit;
}
