@import "../../styles//theme.scss";

@media (max-width: 576px) {
  .footer {
    display: flex;
    flex-direction: column;
    div {
      .img {
        @include size(
          $width: 125.7,
          $height: 30,
          $margin: #{scaleX(60)} #{scaleX(0)} 0 #{scaleX(28)}
        );
      }
      .copyL {
        display: none;
      }
    }
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: #{scaleX(28)};
      div {
        width: #{scaleX(150)};
        .title {
          margin-top: #{scaleX(64)};
          margin-bottom: #{scaleX(34)};
          @include fonts(
            $fSize: 20,
            $fFamily: $clash,
            $fWeight: 500,
            $color: $darkGreen
          );
        }
        .text {
          margin-bottom: #{scaleX(18)};
          @include fonts(
            $fSize: 16,
            $fFamily: $inter,
            $fWeight: 400,
            $color: $darkGreen
          );
        }
      }
    }
    .copy {
      margin: #{scaleX(139)} 0 #{scaleX(62)} #{scaleX(28)};
      @include fonts(
        $fSize: 16,
        $fFamily: $inter,
        $fWeight: 400,
        $color: $darkGreen
      );
    }
  }
}
@media (min-width: 576.1px) {
  .footer {
    display: flex;
    div {
      .img {
        @include sizeL(
          $width: 125.7,
          $height: 30,
          $margin: #{scaleXL(60)} #{scaleXL(163.3)} 0 #{scaleXL(151)}
        );
      }
      .copyL {
        margin: #{scaleXL(307)} 0 #{scaleXL(30)} #{scaleXL(151)};
        @include fontsL(
          $fSize: 16,
          $fFamily: $inter,
          $fWeight: 400,
          $color: $darkGreen
        );
      }
    }
    section {
      display: flex;
      div {
        margin-right: #{scaleXL(87)};
        width: #{scaleXL(125)};
        .title {
          margin-bottom: #{scaleXL(34)};
          @include sizeL($mTop: 60);
          @include fontsL(
            $fSize: 20,
            $fFamily: $clash,
            $fWeight: 500,
            $color: $darkGreen
          );
        }
        .text {
          margin-bottom: #{scaleXL(18)};
          @include fontsL(
            $fSize: 16,
            $fFamily: $inter,
            $fWeight: 400,
            $color: $darkGreen
          );
        }
      }
    }
    .copy {
      display: none;
    }
  }
}
